.team-slot-list__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
}

.team-slot-list__grid {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 16px 20px;
}

.team-slot-list__title + .team-slot-list__grid {
  margin-top: 19px;
}

@media (max-width: 767px) {
  .team-slot-list__grid {
    grid-template-columns: minmax(0, 326px);
  }
}